@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}


div#root {
  height: calc(100vh - 290px);
}

body {
  font-family: 'Karla', sans-serif;
  background-color: $bizarre;
  .home {
    padding: 100px 100px;
    color: white;
    margin: 45px 30px;
    height: 100%;
    background-color: $tan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
      font-size: 40px;
      left: 100px;
      position: relative;
      flex-direction: column;
      display: flex;
      line-height: 8px;
    }
    .switcher {
      position: fixed;
      border-radius: 30px;
      right: 120px;
      top: 100px;
      width: 130px;
      height: 40px;
      background-color: $chalky;
      button {
        // width: 50%;
        display: none;
        height: 100%;

      }
    }
    .content {
      position: relative;
      top: 20px;
      display: flex;
      .items {
        cursor: pointer;
        list-style: none;
        font-size: 28px;
        line-height: 55px;
      }
      .items-body {
        font-size: 20px;
        padding: 0 80px;
      }
    }
    
    .go-resume {
      cursor: pointer;
      position: relative;
      top: 50px;
      background-color: $chalky;
      color: white;
      font-size: 20px;
      width: 350px;
      height: 45px;
      border: none;
      display: flex;
      justify-content: space-around;
    }
    .skills {
      .circle-container {
        @include on-circle($item-count: 7, $circle-size: 10em, $item-size: 4em); 
      }
    }
  }

}
