@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');


div#root {
  height: calc(100vh - 290px);
}

body {
  font-family: 'Karla', sans-serif;
  background-color: $bizarre;
  .home {
    padding: 100px 100px;
    color: white;
    margin: 45px 30px;
    height: 100%;
    background-color: $tan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
      font-size: 40px;
      left: 100px;
      position: relative;
      flex-direction: column;
      display: flex;
      line-height: 8px;
    }
    .switcher {
      display: flex;
      position: fixed;
      border-radius: 30px;
      right: 120px;
      top: 100px;
      width: 130px;
      height: 40px;
      background-color: $chalky;
      cursor: pointer;
      .btn {
        width: 46%;
        height: 100%;
        position: relative;
        left: 4px;
        .choose {
          background: $bizarre;
          border-radius: 35px;
          color: $tan;
        }
        p {
          text-align: center;
          position: relative;
          padding: 5px 0;
          top: -12px;
        }
      }
    }
    .content {
      position: relative;
      display: flex;
      .items {
        cursor: pointer;
        list-style: none;
        font-size: 28px;
        line-height: 55px;
      }
      .content-right {
        font-size: 16px;
        padding: 0 80px;
        top: -45px;
        position: relative;
        height: 300px;
        width: 415px;
        .skills {
          font-size: 20px;
          line-height: 35px;
        }
        .experience {
          font-size: 20px;
          line-height: 35px;
        }
        .contact {
          font-size: 20px;
          line-height: 35px;
          text-align: left;
          a {
            color: white;
          }
        }
      }
    }
    
    .go-resume {
      cursor: pointer;
      position: relative;
      top: 50px;
      background-color: $chalky;
      color: white;
      font-size: 20px;
      width: 350px;
      height: 45px;
      border: none;
      display: flex;
      justify-content: space-around;
    }
  }

}

@media (max-width:575px) {
  .home {
    padding: 100px 0;
    .header {
      font-size: 20px;
      left: 0;
      line-height: inherit;
    }
    .content {
      .items li{
        display: none;
      }
      // .content-right {
      //   display: none;
      // }
    }
  }
}
